<div class="px-5 py-[10px] flex flex-row justify-between items-center h-[100px] w-full transition-all duration-300"
  >
  <div class="flex flex-row space-x-5 items-center h-[100px]">
    <img src="/assets/img/logo.png" class="w-16 hidden desktop:block"
      alt="">
    <a routerLink="/" class="flex relative items-center h-full group transition-all duration-300">
      <i class="fa-solid fa-star text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300"></i>
      <span
        class="ml-[5px] text-xl text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300">Inicio</span>
      <div
        class="absolute bottom-7 w-full h-[2px] opacity-0 group-hover:opacity-100 bg-Intense-Turquoise transition-all duration-300">
      </div>
    </a>
    <ng-container *ngIf="_authService == false;">
      <a routerLink="/jobs" class="flex relative items-center h-full group transition-all duration-300">
        <i class="fa-solid fa-star text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300"></i>
        <span
          class="ml-[5px] text-xl text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300">Trabajos</span>
        <div
          class="absolute bottom-7 w-full h-[2px] opacity-0 group-hover:opacity-100 bg-Intense-Turquoise transition-all duration-300">
        </div>
      </a>
    </ng-container>
  </div>
  <div class="space-x-[10px]">
    <ng-container *ngIf="_authService == true">
      <a
        routerLink="/register"
        class="px-5 py-[10px] rounded-3xl hover:bg-[#D4E0ED] text-lg transition-all duration-300">
        Crear cuenta
      </a>
      <a
        routerLink="/login"
        class="px-5 py-[10px] border border-Midnight-Blue rounded-3xl hover:bg-[#D4E0ED] text-lg transition-all duration-300">
        Iniciar sesión
      </a>
    </ng-container>
    <ng-container *ngIf="getUserType() === 2; then enterprise"></ng-container>
  </div>

</div>

    <ng-template #profile>
      
      <ng-container *ngIf="gender === 0; then female else men"></ng-container>
      
      <ng-template #female>
        <button mat-button [matMenuTriggerFor]="menuProfile" class="buttonMat rounded-full">
          <div class="h-16 w-16 flex justify-center items-center rounded-full bg-pink-500 text-white text-3xl font-medium" *ngIf="gender == 0; else men">
            <span>{{AccountData.firstName[0]}}</span>
            <span>{{AccountData.lastName[0]}}</span>
          </div>
        </button>
        <mat-menu #menuProfile="matMenu">
          <button mat-menu-item routerLink="/account/profile">Ver perfil</button>
          <button mat-menu-item class="text-red-500" (click)="logOut()">Cerrar sesión</button>
        </mat-menu>
      </ng-template>
      <ng-template #men>
        <div class="h-16 w-16 flex justify-center items-center rounded-full bg-cyan-500 text-white text-3xl font-medium">
          <span>{{AccountData.firstName[0]}}</span>
          <span>{{AccountData.lastName[0]}}</span>
        </div>
      </ng-template>

<ng-template #enterprise>
  <a routerLink="/jobs/management">
    <img src="{{AccountData.LOGO}}" alt="Logo de {{AccountData.NAME}}" class="rounded-full h-16 w-16 shadow-sm">
  </a>
</ng-template>
