<mat-accordion class="mat-accordion text-xl">
  <!--  -->
  <ng-container *ngIf="sizeOfDisplay == 'mobile'; else sinExpand" >
    <mat-expansion-panel class="mat-expansion-panel" (click)="sendDataCard(job.juid)" *ngFor="let job of jobList; let i = index">
      <mat-expansion-panel-header class="mat-expansion-panel-header">
        <mat-panel-title>
          {{job.position}}
          <div class="mat-panel-description">
            <p>{{job.bName}}</p>
            <p><i class="fa-solid fa-star text-yellow-400"></i> {{job.rating | number:'1.1'}}</p>
            <p>{{job.city}}, {{job.state}}.</p>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <hr>
      <div class="content-mat-accordion">
        <div class="content-mat-accordion-info">
          <p>{{job.position}}</p>
          <!-- <p>en CDMX</p> -->
        </div>
        <div class="content-mat-accordion-img">
          <img src="" alt="" [src]="job.logo">
        </div>
      </div>
      <hr>
      <div class="content-mat-accordion-data block md:hidden">
        <div class="content-mat-accordion-category">
          <div class="category-content-mat">
            <span>{{job.salary | currency}}</span> (<span>Mensual</span>)
            <!-- $ 34,000 (mensual) -->
          </div>
          <div class="category-content-mat">
            {{job.mode}}
          </div>
          <div class="category-content-mat">
            {{job.turn}}
          </div>
          <div class="category-content-mat">
            {{job.mode}}
          </div>
        </div>
        <div>
          {{job.description}}
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
  <ng-template #sinExpand>
    <ng-container *ngFor="let job of jobList; let i = index">
      <mat-expansion-panel class="mat-expansion-panel" (click)="sendDataCard(job.juid)" disabled>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            {{job.position}}
            <div class="mat-panel-description">
              <p>{{job.bName}}</p>
              <p><i class="fa-solid fa-star text-yellow-400"></i> {{job.rating | number:'1.1'}}</p>
              <p>{{job.city}}, {{job.state}}.</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <div class="content-mat-accordion">
          <div class="content-mat-accordion-info">
            <p>{{job.position}}</p>
            <!-- <p>en CDMX</p> -->
          </div>
          <div class="content-mat-accordion-img">
            <img src="" alt="" [src]="job.logo">
          </div>
        </div>
        <hr>
        <div class="content-mat-accordion-data block md:hidden">
          <div class="content-mat-accordion-category">
            <div class="category-content-mat">
              <span>{{job.salary | currency}}</span> (<span>Mensual</span>)
              <!-- $ 34,000 (mensual) -->
            </div>
            <div class="category-content-mat">
              {{job.mode}}
            </div>
            <div class="category-content-mat">
              {{job.turn}}
            </div>
            <div class="category-content-mat">
              {{job.mode}}
            </div>
          </div>
          <div>
            {{job.description}}
          </div>
        </div>
      </mat-expansion-panel>
    </ng-container>

  </ng-template>

</mat-accordion>
