<div class="relative">
  <h2 class="text-lg font-semibold text-slate-900 line-clamp-1" title="{{jobData.position}}">{{jobData.position}}</h2>
  <div class="flex flex-row items-center space-x-2">
    <i class="fa-solid fa-circle-info text-slate-400"></i>
    <p class="w-full text-sm text-slate-500 line-clamp-1">{{jobData.bName}}</p>
  </div>
  <div class="flex flex-row items-center space-x-2">
    <i class="fa-solid fa-location-dot text-slate-400 ml-[2px] mr-[2px]"></i>
    <p class="w-full text-sm text-slate-500 line-clamp-1">{{jobData.city}}</p>
  </div>
  <div class="flex flex-row items-center space-x-2">
    <i class="fa-solid fa-dollar-sign text-slate-400 ml-1"></i>
    <p class="w-full text-sm text-slate-500 line-clamp-1">{{jobData.salary}}</p>
  </div>
  <div class="flex flex-row items-center space-x-2">
    <i class="fa-solid fa-calendar-days text-slate-400"></i>
    <p class="w-full text-sm text-slate-500 line-clamp-1">{{jobData.creation}}</p>
  </div>

  <div class="absolute bottom-0 right-0 cursor-pointer">
    <button class="bg-orange-400 hover:bg-orange-300 text-white rounded-md px-2 py-1 text-sm font-semibold">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>
</div>
