<div class="w-full h-full relative bg-[#F1F5F9]">
  <div class="z-50 fixed top-0 left-0 w-full flex">
    <div class="px-5 py-[10px] flex flex-row justify-between items-center h-[100px] w-full transition-all duration-300"
  [ngClass]="{'bg-white drop-shadow-md': scroll == true}">
  <div class="flex flex-row space-x-5 items-center h-[100px]">
    <img src="https://swebtoon-phinf.pstatic.net/20170906_183/1504692085933eq4Rf_JPEG/thumbnail.jpg" class="w-16 hidden desktop:block"
      alt="">
    <a href="/" class="flex relative items-center h-full group transition-all duration-300">
      <i class="fa-solid fa-star text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300"></i>
      <span
        class="ml-[5px] text-xl text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300">Inicio</span>
      <div
        class="absolute bottom-7 w-full h-[2px] opacity-0 group-hover:opacity-100 bg-Intense-Turquoise transition-all duration-300">
      </div>
    </a>
    <ng-container *ngIf="sesionActive == true;">
      <a href="jobs" class="flex relative items-center h-full group transition-all duration-300">
        <i class="fa-solid fa-star text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300"></i>
        <span
          class="ml-[5px] text-xl text-Serene-Blue group-hover:text-Intense-Turquoise transition-all duration-300">Trabajos</span>
        <div
          class="absolute bottom-7 w-full h-[2px] opacity-0 group-hover:opacity-100 bg-Intense-Turquoise transition-all duration-300">
        </div>
      </a>
    </ng-container>
  </div>
  <div class="space-x-[10px]">
    <ng-container *ngIf="sesionActive == false; else profile">
      <a
        routerLink="/register"
        class="px-5 py-[10px] rounded-3xl hover:bg-[#D4E0ED] text-lg transition-all duration-300">
        Crear cuenta
      </a>
      <a
        routerLink="/login"
        class="px-5 py-[10px] border border-Midnight-Blue rounded-3xl hover:bg-[#D4E0ED] text-lg transition-all duration-300">
        Iniciar sesión
      </a>
    </ng-container>
    <ng-template #profile>
      <a href="#">
        <div class="h-16 w-16 flex justify-center items-center rounded-full bg-pink-400 text-white text-3xl" *ngIf="gender == 0; else men">
          <span>{{name[0]}}</span>
          <span>{{lastName[0]}}</span>
        </div>
      </a>
      <ng-template #men>
        <div class="h-16 w-16 flex justify-center items-center rounded-full bg-blue-400 text-white text-3xl">
          <span>{{name[0]}}</span>
          <span>{{lastName[0]}}</span>
        </div>
      </ng-template>
    </ng-template>
  </div>

</div>
  </div>
  <div class="translate-y-[100px]">

    <div class="relative h-[82%] w-full py-5">
      <div class="absolute ml-[5%]">
        <img src="assets/img/landing_check.svg" class="w-[80%] opacity-50" alt="">
      </div>
      <div class="absolute flex top-72 ml-[10%] w-[36%] h-full items-center">
        <h1 class="abstolute text-7xl text-shadow">Visita los últimos empleos, empresas, noticias y más</h1>
      </div>
      <div class="absolute right-0 mr-[15%]">
        <div class="w-[30rem] h-[32rem] bg-white rounded-lg drop-shadow-md">
          <div class="w-full h-full flex flex-col items-center justify-center">
            <app-login-form></app-login-form>
          </div>
        </div>
      </div>
    </div>
    <div class="relative flex flex-col translate-y-[36rem] w-full overflow-x-hidden h-[80%] bg-[#D4E0ED] py-5">
      <div class="flex flex-row space-x-[90px]">
        <img src="assets/img/companies/evcon.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/BASF-Logo.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/carza-logo.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/cisco-logo.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/DHL_Express_Logo.png" class="h-[100px]" alt="">
      </div>
      <div class="relative flex w-full h-full items-center justify-center py-4">
        <img src="assets/img/landing-companies.svg" class="w-[30%] opacity-50" alt="">
        <div class="absolute z-20 text-7xl text-shadow w-[80%] text-center h-full">
          <h1 class="absolute mt-16">
            Encuentra el trabajo de tus sueños, en la empresa de tus sueños
          </h1>
        </div>
      </div>
      <div class="flex flex-row-reverse place-self-end w-full space-x-[90px]">
        <img src="assets/img/companies/Stellantis.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/pg-logo.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/BBVA_USA_Logo.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/Bosch-logo.png" class="h-[100px]" alt="">
        <img src="assets/img/companies/Nestle_textlogo_blue.png" class="h-[100px]" alt="">
      </div>
    </div>

  </div>
</div>
