<div class="h-full md:w-full flex flex-row">
  <!-- LEFT SIDE -->
  <div class="bg-Bright-Cyan hidden md:flex md:w-1/2 flex-col items-center justify-center">
    <h2 class="w-10/12 text-4xl shadow-sm font-Poppins font-medium text-center text-white mb-10">
      El futuro está aquí
    </h2>
    <img src="/assets/img/login_aside.svg" class="w-96">
  </div>

  <!-- RIGHT SIDE -->
  <div class="w-full h-full flex flex-col justify-center items-center bg-slate-100 login-bg-pattern">
    <!-- IMG HEADER -->
    <img
      class="w-1/2 md:h-1/5 mb-16"
      src="/assets/img/login_header.svg"
      alt="Login">
    <!-- HEADER TEXT -->
    <app-login-form></app-login-form>
  </div>
</div>
